:root {
  --theme-black: #3a3a3a;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

body {
  touch-action: manipulation;

  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: 'Montserrat';
  overflow: hidden;
}

.sub__form {
  margin: auto;

  height: 7vh;
  width: 100%;

  box-sizing: border-box;
  padding: .5vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  color: white;
  background-color: var(--theme-black);

  font-size: 2.5vh;
}
.date {
  all: unset;

  width: 25%;

  border-radius: 1vh;

  text-align: center; 
  line-height: inherit;

  color: white;
  background-color: var(--theme-black);
}

.sub_but[list] {
  all: unset;

  width: 22%;

  border-radius: 1vh;

  text-align: center;
  padding: 1.5vh;

  color: white;
  background-color: var(--theme-black);
}

.count {
  all: unset;

  width: 25%;
  
  border-radius: 1vh;

  text-align: center;
  padding: 1.5vh;

  font-weight: bold;

  color: #d9232e;
  background-color: var(--theme-black);
}
.count:hover {
  background-color: rgb(43, 37, 37);
}
.count:active {
  box-shadow: 0 2% #666;
  transform: translateY(2%);
}

.chat__box {
  margin: auto;

  min-height: 87vh;
  max-height: 87vh;
  width: 100%;

  box-sizing: border-box;
  padding: 1%;

  display: flex;
  flex-direction: column;
  
  overflow-y: scroll;

  background-color: white;
}

.message_left {
  margin-block: .5vh;
  padding: 1%;

  width: fit-content;
  max-width: 75%;
  height: fit-content;

  font-family: inherit;
  font-size: 3vh;

  color: white;

  background-color: #d9232e;
  border-radius: 1vh;
}

.message_right {
  margin-block: .5vh;
  padding: 1%;

  width: fit-content;
  max-width: 75%;
  height: fit-content;

  margin-left: auto;

  font-family: inherit;
  font-size: 3vh;

  color: white;

  background-color: var(--theme-black);
  border-radius: 1vh;
}

.input__box {
  height: fit-content;
  width: inherit;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: white;
}

.input__field {
  margin-left: 1%;
  width: 95%;
  min-height: 5vh;

  vertical-align: middle;

  box-sizing: border-box;
  
  font-family: inherit;
  border: 0;
  outline: 0;
  border-bottom: .3vh solid var(--theme-black);

  font-size: 3vh;
  color: var(--theme-black);
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: var(--theme-black);
  }
}

.send {
  margin-inline: 1%;
  margin-top: .4vh;
  width: 5vh;
  border: 0;

  aspect-ratio: 1/1;
  background: none;
  background-image: url('../static/send.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
