@import url(https://db.onlinewebfonts.com/c/1f110cb098263ea5a2e170384df65753?family=Moscow+Sans);

:root {
  --theme-black-old: #3a3a3a;
  --theme-black: white;
  --theme-purple: #704EF1;
  --chakra-fonts-body: 'Moscow Sans';
}

::-webkit-input-placeholder {
  color: #757575;
}
::placeholder {
  color: #757575;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

body {
  touch-action: manipulation;

  /* background-color: white; */
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: var(--chakra-fonts-body);
  overflow: hidden;

  /* background-color: rgb(62,58,130); */
  /* background:  linear-gradient(180deg, rgba(58,58,58,1) 32%, rgba(112,78,241,1) 64%, rgba(255,255,255,1) 100%); */
}

.sub__form {
  /* margin: auto; */
  margin: 0;

  /* height: 30vh; */
  width: 100%;

  box-sizing: border-box;
  /* padding: .5vh; */

  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */

  color: white;
  /* background-color: var(--theme-black); */

  font-size: 2.5vh;
}

.date {
  all: unset;

  width: 100%;

  /* border-radius: 1vh; */

   text-align: center; 
  vertical-align: middle;
  line-height: inherit; 
  display: table-cell;
  color: var(--theme-black-old);

  padding: 2vh 0 0 0;

  background-color: var(--theme-black);
}

.sub_but {
  all: unset;

  width: 100%;

  /* border-radius: 1vh; */

  text-align: center;
  padding: 0.75vh 0 0.75vh 0;

  color: var(--theme-black-old);
  background-color: var(--theme-black);
}

textarea:focus, .sub_but:focus {
  color: var(--theme-black-old);
}

.info_container {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  justify-content: space-evenly;
  align-items: center;
  /* --n: 2; */
  width: 100%;
  /* width: calc(var(--n)*100%); */
  /* height: 20vw; */
  height: 100%;
  /* max-height: 20vh; */
  /* transform: translate(calc(var(--i, 0)/var(--n)*-100%)); */
  /* overflow-x: hidden;
  overflow-y: hidden; */
  /* vertical-align: bottom; */
  background-color: none;

  div {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    min-width: 50%;
    /* height: 100%; */
    /* min-height: 100%; */
    input {
    flex-grow: 1;
    }
    /* pointer-events: none; */
    /* user-select: none; */
  }
  /* button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width: 50%;
     height: 100%;
    min-height: 100%;
     pointer-events: none;
     user-select: none;
  } */
}

.smooth { transition: transform  calc(var(--f, 1)*.5s) ease-out }

.count {
  all: unset;

  width: 100%;
  
  /* border-radius: 1vh; */

  text-align: center;
  /* padding: 1.5vh; */
  height: 10vh;
  /* margin-top: 1.5vh; */

  font-weight: bolder;

  /* color: #d9232e; */
  font-size: 5rem;
  color: var(--theme-purple);
  background-color: var(--theme-black);
  font-family: var(--chakra-fonts-body);
}
.count:hover {
  background-color: rgb(43, 37, 37);
}
.count:active {
  box-shadow: 0 2% #666;
  transform: translateY(2%);
}

.main_screen {
  margin: auto;

  /* min-height: 87vh;
  max-height: 87vh; */
  height: 105vh;
  /* height: 100%; */
  width: 100%;

  box-sizing: border-box;
  /* padding: 1%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  overflow-y: hidden;
  overflow-x: hidden;

  /* background-color: white; */
  /* background: linear-gradient(0deg, rgba(62,58,130,1) 0%, rgba(112,78,241,1) 10%, rgba(255,255,255,1) 87%);; */
  background: linear-gradient(180deg, rgba(14,14,14,1) 20%, rgba(112,78,241,1) 56%, rgba(255,255,255,1) 100%);
}

.answer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  /* height: 50%; */
  height: 100%;
  width: 400%;
}

.answer {
  font-family: var(--chakra-fonts-body);
  font-weight: bolder;
  font-size: 10rem;
  text-align: center;
  animation: 4s anim-pop-up ease-out;
  color: white;
  animation-iteration-count: 1;
}
@keyframes anim-pop-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.additional_info {
  font-family: var(--chakra-fonts-body);
  white-space: initial;
  text-align: center;
  min-width: 50vh;
  max-height: 70vh;
  width: 100vh;
  color:white;
  font-size: 3rem;
  animation: 5s anim-pop-up ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
  animation-iteration-count: 1;
}

.message_left {
  margin-block: .5vh;
  padding: 1%;

  width: fit-content;
  max-width: 75%;
  height: fit-content;

  font-family: inherit;
  font-size: 3vh;

  color: white;

  background-color: #d9232e;
  border-radius: 1vh;
}

.message_right {
  margin-block: .5vh;
  padding: 1%;

  width: fit-content;
  max-width: 75%;
  height: fit-content;

  margin-left: auto;

  font-family: inherit;
  font-size: 3vh;

  color: white;

  background-color: var(--theme-black);
  border-radius: 1vh;
}

.input__box {
  height: fit-content;
  width: inherit;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* height: 15vh; */
  /* height: 100%; */
  /* height: 60%; */
  height: 26vh;
  /* width: 100vh; */
  /* min-width: 100vh; */
  width: 100%;

  background-color: white;
}

.input__field {
  /* margin-left: 1%; */
  width: 100%;
  /* min-height: 5vh; */
  height: 100%;
  /* vertical-align: top; */
  /* vertical-align: middle; */

  box-sizing: border-box;
  
  font-family: inherit;
  border: 0;
  outline: 0;
  /* border-bottom: .3vh solid var(--theme-black); */

  font-size: 3vh;
  text-align: right;
  color: var(--theme-black-old);
  background: transparent;
  transition: border-color 0.2s;

  /* &::placeholder {
    color: var(--theme-black);
  } */
}

.send {
  margin-inline: 1%;
  margin-top: .4vh;
  width: 5vh;
  border: 0;

  aspect-ratio: 1/1;
  background: none;
  background-image: url('../static/send.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.stations_lines_date_container {
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: center;
}

.input__box {
  flex-direction: row;
}

.microphone_button {
  margin-inline: 1%;
  margin-top: .4vh;
  width: 5vh;
  border: 0;

  aspect-ratio: 1/1;
  background: none;
  background-image: url('../static/micro.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.micro_buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.start_voice {
  margin-inline: 1%;
  margin-top: .4vh;
  width: 5vh;
  border: 0;

  aspect-ratio: 1/1;
  background: none;
  background-image: url('../static/start_voice.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.stop_voice {
  margin-inline: 1%;
  margin-top: .4vh;
  width: 5vh;
  border: 0;

  aspect-ratio: 1/1;
  background: none;
  background-image: url('../static/stop_voice.svg');
  background-size: cover;
  background-repeat: no-repeat;
}