<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>MosTrans</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="icon" href={{url_for('static', filename='mostrans_logo.svg') }} sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href={{url_for('static', filename='style.css') }}/>
    <meta name="author" content=""/>
  </head>
  <body>
    <div class="selector__box">
      <input class="date" placeholder="21.04.2024"></input>
      <div class="station">Станция</div>
      <div class="count">Посчитать</div>
    </div>
    <div class="chat__box">
      <div class="message_left">Привет, скажи, где я егй ли я</div>
      <div class="message_right">Привет, ты йге, особенно на Комсомольской</div>
      <div class="message_left">1Привет, скажи, где я егй ли я</div>
    </div>
    <div>
      <p>Станция метро</p>
      <p><input type="search" list="lines" onChange="reset_lines">
        <datalist id="lines">
        {% for line in data['lines'] %}
          <option value="{{ line }}"></option>
        {% endfor %}
        </datalist>
      </p>
      <p><input type="search" list="stations" onChange="reset_lines">
        <datalist id="stations">
        {% for station in data['stations'] %}
          <option value="{{ station }}"></option>
        {% endfor %}
        </datalist>
      </p>
      <form id="text_form" method="GET" style="text-align: center;">
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
    </div>

    <div class="input__box">
      <input class="input__field" placeholder="Напишите ваш вопрос">
      <div class="send"></div>
    </div>
  </body>
</html>