<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>MosTrans</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="icon" href="../static/mostrans_logo.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="../static/style.css"/>
    <meta name="author" content=""/>
  </head>
  <body>
    <!-- <script src="./index.js"></script> -->
    <script>
    const data = {{data|tojson}};
    </script>
    <div>
      <!-- <input class="date" placeholder="21.04.2024"></input> -->
      <form action="#" method="get" enctype="multipart/form-data" class="sub__form">
        <input type="date" class="date" name="date" value="2024-04-20" min="2024-01-01" max="2024-04-03" />
        
        <input placeholder="Линия" type="search" list="lines" class="sub_but">
        <datalist id="lines"></datalist>
        
        <input placeholder="Станция" name="station_name" type="search" list="stations" class="sub_but">
        <datalist id="stations"></datalist>
        <button type="submit" formmethod="get" class="count">Считать</button>
      </form>
      <script>
        window.onload = function() {
        var stations_opt=''; // variable to store the options
        var lines_opt=''; // variable to store the options

        for (var i=0; i < data['stations'].length;++i) {
          stations_opt += '<option value="'+data['stations'][i]+'" />'; // Storing options in variable
        }

        line_names = Object.keys(data["lines"]);
        for (var i=0; i < line_names.length;++i) {
          lines_opt += '<option value="'+line_names[i]+'" />'; // Storing options in variable
        }
        document.getElementById("lines").innerHTML = lines_opt;
        document.getElementById("stations").innerHTML = stations_opt;

        document.getElementsByClassName("sub_but")[0].onchange = (event) => {
          input = event.target.value;
          is_in = () => {
            for (var key in data['lines']) {
              if (input == key) {
                return true;
              }
            }
            return false;
          }
          if (is_in()) {
            stations_opt = [];
            input_stations = data['lines'][input];
            for (var key in input_stations) {
              stations_opt += '<option value="'+input_stations[key]+'" />'; // Storing options in variable
            }
          }
          else {
            for (var i=0; i < data['stations'].length;++i) {
              stations_opt += '<option value="'+data['stations'][i]+'" />'; // Storing options in variable
            }
          }
          document.getElementById("stations").innerHTML = stations_opt;
        }
      }
      </script>
    </div>
    <div class="chat__box">
      <div class="message_left">Привет, скажи, где я егй ли я</div>
      <div class="message_right">Привет, ты йге, особенно на Комсомольской</div>
      <div class="message_left">1Привет, скажи, где я егй ли я</div>
      {% if answer %}
        <div class="answer">На {{date}} на станции {{station}} зафиксирован следующий пассажиропоток: {{answer}}</div>
        {% if unresolved_line %}
          Нам не удалось определить точную линию, на которой расположена станция. Надеемся, что мы угадали!
        {% endif %}
      {% endif %}
    </div>
    <form class="input__box" action="#" method="get" enctype="multipart/form-data">
      <input class="input__field" name="text" placeholder="Напишите ваш вопрос">
      <button type="submit" class="send" formmethod="get"></button>
    </form>
  </body>
</html>